canvas {
    margin-top:-5px;
    margin-left:150px;
    border:5px solid darkgreen;
    background-color: darkgray;
}

.title{
    position:absolute;
    top:50px;
    left:72%;
    color:darkblue;
    font-size:40px;
    background-color:darkgray;
}

.score{
    position:absolute;
    top:250px;
    left:72%;
    color:darkgreen;
    font-size:30px;
    font-family: 'helvetica neue', helvetica, sans-serif;
    width:150px;
    height:80px;
    background-color:darkgray;
}

.lives{
    position:absolute;
    top:350px;left:72%;
    color:brown;
    font-size:35px;
    width:150px;
    height:90px;
    background-color:greenyellow;
}

@media only screen and (min-width: 368px) {
    canvas {
        height: 50%;
        width: 50%;
    }
}
